doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css' + '?' + Date.now())
  body
    block content

  script(type='text/javascript', src='/javascripts/index.js' + '?' + Date.now())
